/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2015, 8:16:29 PM
    Author     : Student
*/

/* ######### Marker List Vertical Menu ######### */
#top {
list-style-type: none;
background-image:url(/images/nav-top.png);
width:171px;
height:14px;
display: block;
position: absolute;
}

#bottom{
list-style-type: none;
background-image:url(/images/nav-bottom.png);
margin: 0px 0 0px 0;
padding: 0;
height:12px;
display: block;
}

.markermenu{
width: 171px; /*width of side bar menu*/
clear: left;
position: relative; /*Preserve this for "right" arrow images (added by script) to be positioned correctly*/
margin:0;
top:4px;
}

.markermenu ul{
list-style-type: none;
margin: 5px 0 0px 0;
padding: 0;
border-left: 1px solid #862525;
border-right: 1px solid #862525;
}

.markermenu ul li a{
background: #000;
font-family:Georgia, "Times New Roman", Times, serif;
color: #FFF;
display: block;
width: auto;
padding: 5px 0;
padding-left: 20px;
text-decoration: none;
/*border-bottom: 1px solid #862525;*/
}

* html .markermenu ul li a{ /*IE6 hack*/
width: 155px;
}

.markermenu ul li a:visited, .markermenu ul li a:active{
color: #FFF;
}

.markermenu ul li a:hover, .markermenu ul li a.selected{
color: #FFF;
background-color: #a50a0a;
}

/* ######### Customized Drop Down ULs CSS (inherits from ddlevelsmenu-base.css) ######### */

.blackwhite li a{
background: #white;
}

.blackwhite li a:hover{
background: fef0c8;
color: black;
}