/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2015, 8:17:04 PM
    Author     : Student
*/

body {
  font-family:Lucida Sans Unicode, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#FFFFFF;
  margin-top:18px;
  background:url(/images/background.gif) fixed;
}

a {
color:#ffffff;
}

a:hover {
color:#ffcc00;
}

.font11 {
  font-size:11px;
}

.font10 {
  font-size:10px;
}
.yellow {
  color:#ffcc00;
}
h1 {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:24px;
  margin:0px 0 8px 0;
  color:#FC0;
}

h2 {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:16px;
  font-variant:small-caps;
  margin:0px 0 8px 0;
  color:#FC0;
}
#line {
  display:block;
  border-top-style:dotted;
  border-top-width:3px;
  border-top-color:#330000;
  padding:0 0 0 0;
}
ul{
  padding-left: 13px;
  margin-left: 0;
}
 
#container {
  width:749px;
  margin-left:auto;
  margin-right:auto;
}


/* Start HEADER styles */
#header {
  width:749px;
  height:109px;
  display:block;
  background:url(/images/header.png) no-repeat;  
}
#header2 {     /* No Resevations button*/
  width:749px;
  height:109px;
  display:block;
  background:url(/images/header2.png) no-repeat;  
}
#header2 a.logoblock {
  width:130px;
  height:109px;
  display:block;
  float:left;
  margin-left:20px;
}
#header a.logoblock {
  width:130px;
  height:109px;
  display:block;
  float:left;
  margin-left:20px;
}
#header a.reservations {
  width:121px;
  height:27px;
  display:block;
  float:left;
  margin-left:433px;
  margin-top:44px;
}

/* Start CONTENT styles */
#content {
  width:749px;
  padding:0px 0px 0px 0px;
  margin-left:auto;
  margin-right:auto;
  min-height:345px;
}

/* Start NAVIGATION styles */
#nav-dropdown {
  float:left;
  margin:15px 0 15px 15px;
  width:171px;
  display:block;
  padding:0 0 0 0;
}
a#nav-horizontal {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:12px;
  font-weight:normal;
  float:left;
  display:block;
  padding:0 18px 0 0;
  text-decoration:none;
}
a#nav-horizontal:hover {
  color:#ffcc00;
}
#nav-horizontal-active {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:12px;
  font-weight:normal;
  color:#ffcc00;
  float:left;
  display:block;
  padding:0 18px 0 0;
  text-decoration:none;
}

 
/* Start CONTENT styles */

#maincontent{
  margin:15px 0px 15px 13px;
  width:535px;
  float:left;
 }
img#flashbanner{
  width:535px;
}

/* Start FOOTER BANNER styles */
#footercontainer {
  width:749px;
  height:83px;
  background-color:#860d0d;
  display:block;
}

#headline {
  width:374px;
  height:83px;
  background-color:#000;
  display:block;
  float:left;
  margin-right:1px;
}
#emailclub {
  width:374px;
  height:83px;
  background-color:#000;
  display:block;
  float:left;
}
#orderonline {
  width:374px;
  height:83px;
  background-color:#000;
  display:block;
  float:left;
  margin-right:1px;
}
/* Start FOOTER styles */
#footermenu { 
  font-size: 10px;
  width: 749px;
  height: 41px;
  background: url(/images/FooterBackground.png) no-repeat;
  clear:both;
}
#footerfamilyblock { 
  text-align: center;
  position: relative;
  left: 16px;
  top:8px;
  height:20px;
  width: 710px;
  display:block;
}
#pandafamily  {
  padding-top:10px;
  text-align: center;
  height:25px;
  width: 90px;
  float:left;

}
#footerfamilyblock a#px { 
  height:25px;
  width: 115px;
  float: left;
  position:relative;
  
}
#pandainn { 
  height:25px;
  width: 112px;
  float: left;
  position:relative;
 
}
#footerfamilyblock a#hb { 
  height:25px;
  width: 109px;
  float: left;
  position:relative;

}
#footerfamilyblock a#wb { 
  height:25px;
  width: 109px;
  float: left;
  position:relative;

}
#footerfamilyblock a#prg { 
  height:25px;
  width: 175px;
  float: left;
  position:relative;

}

#copyright {
  font-family:Verdana, Geneva, sans-serif;
  font-size:10px;
  margin-top:3px;
}

/* --------Start LOCATIONS Styles----------- */
.cateringtable {
font-style: normal;

}
.cateringtable tr{
background:#7c0000;
}
.cateringtable td{
padding:2px 5px 2px 5px;
font-size:11px;
}
.cateringtable th{
padding:2px 5px 2px 5px;
background-color:#990000;
color:#ffcc00;
font-weight:normal;
}
.legendblock {
font-size:11px;
color:#fff;
background-color:#4b0000;
height:65px;
width:155px;
display:block;
margin-left:2px;
padding:8px;
text-align:left;
}

/* --------Start LOCATIONS Styles----------- */
.stateheader {
	background-color:#5b0606;
	font-weight:bold;
	font-variant:small-caps;
	color:#ffffff;
	font-size:13px;
	padding:0 0 0 4px;
}
#location-container {
	padding:0 0 0 4px;
}
#location-container h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
    font-size:14px;
    font-variant:small-caps;
    margin:0;
    color:#FC0;
}

#location-buttons {
	float:right;
	display:block;
	width: 141px;
	padding:0 13px 0 0;
}
#location-buttons img{
	padding:2px 0;
}
#location {
	display:block;
	width:349px;
	min-height:85px;
}
#border {
height: 0px;
width: 100%;
border-top-width: 2px;
border-top-style:dotted;
border-top-color: #5b0606;
margin:13px 0 13px 0;
}


.contactheader {
	background-color:#000;
	font-weight:bold;
	color:#ffffff;
	font-size:13px;
	padding:0 0 0 3px;
	margin:0 15px 5px 15px;
}

.requiredField {
  color:#FC0;
  font-weight:bold;
}




#locatorlinks {}
#locatorlinks a{
	display: block;
	text-decoration: none;
	height:18px;
	font: bold 11px Arial;
	color: #000000;
	/*float: center;*/
	display: inline;
	padding: 1px 5px 1px 5px;
	background-color:#FC0;
	text-align: center;
	border: 2px solid #FC0;
	position:relative;
	top:10px;
	margin:0 0 0 10px;
}



a#locatorlinks {
	display: block;
	text-decoration: none;
	height:18px;
	font: bold 11px Arial;
	color: #000000;
	/*float: center;*/
	display: inline;
	padding: 1px 5px 1px 5px;
	background-color:#FC0;
	text-align: center;
	border: 2px solid #FC0;
	position:relative;
	top:10px;
	margin:0 0 0 0;
}


.locatorlinks {
	display: block;
	text-decoration: none;
	height:18px;
	font: bold 11px Arial;
	color: #000000;
	/*float: center;*/
	display: inline;
	padding: 1px 5px 1px 5px;
	background-color:#FC0;
	text-align: center;
	border: 2px solid #FC0;
	position:relative;
	top:10px;
	margin:0 0 0 0;
}
