/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2015, 8:17:30 PM
    Author     : Student
*/

#OT_searchWrapperAll{width:100%;height:100px;position:relative;margin:0;padding:0;}#OT_searchWrapper{border:none;font-family:Verdana,Arial,Helvetica,Sans-Serif;font-size:12px;width:100%;height:100px;position:relative;margin:0;}#OT_searchWrapper .OT_feedTitle{position:absolute;top:0;left:0;margin:0 0 1px 5px;font-size:12px;font-weight:normal;line-height:1em;}#OT_searchWrapper dl{position:absolute;top:0;left:0;padding:0;margin:0;}#OT_restaurantLbl{position:absolute;top:25px;left:0;margin:0 0 0 5px;padding:3px 0;width:110px;text-align:right;}#OT_restaurant{position:absolute;top:25px;left:120px;padding:0;margin:0;}#OT_partySizeLbl{position:absolute;top:55px;left:0;margin:0 0 0 5px;padding:3px 0;text-align:right;width:110px;display:block;}#OT_partySize{position:absolute;top:55px;left:120px;margin:0;padding:0;}#OT_dateLbl{position:absolute;top:85px;left:0;margin:0 0 0 5px;padding:3px 0;text-align:right;width:110px;}#OT_date{position:absolute;top:85px;left:122px;width:100px;margin:0;padding:0;}#OT_timeLbl{position:absolute;top:85px;left:215px;padding:3px 0;width:55px;text-align:right;}#OT_time{position:absolute;top:85px;left:275px;margin:0;}#OT_empty{position:absolute;width:0;height:0;padding:0;margin:0;top:85px;left:0;}#OT_submitWrap{position:relative;top:150px;left:278px;margin:0 5px 0 0;z-index:5;}#OT_logo{position:absolute;top:150px;left:0;width:100%;padding:0;margin:0;display:block;}#OT_logoLink{position:absolute;top:125px;left:0;width:100%;padding:0 0 10px 0;margin:0;font-size:9px;font-family:Verdana,Arial,Helvetica,Sans-Serif;display:block;}#OT_logoLink a{padding:0 0 0 10px;}#OT_imglogo{border:0;margin:0 0 0 10px;}#OT_searchWrapper form{margin:0;padding:0;}#OT_searchWrapper input.hidden{display:none;}#OT_searchWrapper .feedFormField,#OT_searchWrapper .feedFormField option{font-size:12px;margin:2px 2px 2px 2px;}#OT_searchWrapper #startDate,#OT_searchWrapper .OT_feedFormfieldCalendar{font-family:Verdana,Arial,Helvetica,Sans-Serif;font-size:12px;margin:0;width:85px;}#OT_searchWrapper #dateDisplay{font-size:10px;color:#999;font-family:Verdana,Arial,Helvetica,Sans-Serif;float:right;margin:0 30px 0 0;display:inline;}#OT_searchWrapper .imgCal{position:absolute;display:none;z-index:100;}#OT_searchWrapper #imageCal table{font-size:12px;width:150px;font-family:arial;font-weight:bold;}#OT_searchWrapper #imageCal td{padding:0;text-align:center;}#OT_searchWrapper .clickableDays{color:#000;text-decoration:none;height:18px;}#OT_searchWrapper .nonclickableDays{color:#CCC;height:18px;}#OT_searchWrapper .months{color:#FFF;text-decoration:none;}#OT_searchWrapper .weekdays{color:#000;text-decoration:none;color:#666;background-color:#EFEFEF;width:14%;}