 ul {
    list-style: outside none none;
    padding: 10px 0px;
    margin: 0px 10px;
}
nav {
    text-align: right;
}
body {
    color: #999;
}
body {
    font-family: "Open Sans",sans-serif;
}
html {
    font-family: sans-serif;
}